[2021-04-20 09:39] daissatou2 opened #3 "New jobs for UNHCR Progres to UNICEF Primero sync - FLOW 1"
## Background, context, and business value

UNICEF  and UNHCR  are building an interoperability layer between their two systems, Primero and Progres, in order to reduce inefficient, insecure, and duplicative data entry processes. OpenFn will sync the cases and referrals between these two systems.

Example: As a UNICEF caseworker, I would like to electronically send a referral for a case to UNHCR.

[2021-04-20 14:02] aleksa-krolls opened #4 "Test UNHCR authentication"
Using the SSL cert we just created, [here](https://github.com/OpenFn/primero-progres/blob/master/sampleData/flow1__progresReferralConfirmation.json) is a payload you can post to this endpoint:
https://antirrio.azure-api.net/primero-uat/ReceiveDecisionOutgoingReferral

Let me know ASAP if that works. @taylordowns2000 is on an email chain with UNHCR and can ask their team any direct questions if nee

[2021-04-20 15:05] aleksa-krolls commented on #3
@lakhassane This is the first Progres issue that involves posting data to DTP - see my issue #4 re: authentication.

Please liaise with @daissatou2 if you have any questions :)

[2021-04-21 06:39] hnyende opened #5 "UNICEF Primero - UNHCR Progres - FLOW 2"
## Background, context, and business value

UNICEF and UNHCR are building an interoperability layer between their two systems, Primero and Progres, in order to reduce inefficient, insecure, and duplicative data entry processes. OpenFn will sync the cases and referrals between these two systems.

Example: As a UNICEF caseworker, I would like to electronically send a referral for a case to UNHCR. I

[2021-04-21 13:17] taylordowns2000 commented on #4
@lakhassane , include the header `Ocp-Apim-Subscription-Key` with the value I've shared privately.

[2021-04-21 16:26] lakhassane commented on #3
@daissatou2 I might need a bit more context on field that says `See F1. Service Mapping (V4 to Primero)`. I don't understand that tab and their use in the mapping.

[2021-04-21 16:40] aleksa-krolls commented on #3
@lakhassane I added some examples to the mapping sheet. Basically, Progres might send us 2 field values (an `intervention` and `intervention_type`)... we need to use both to determine the 1 Primero `service_type` to output.

[2021-04-21 18:29] lakhassane commented on #3
@aleksa-krolls @daissatou2 I pushed a draft of the job 1. However, I left a couple of comments in the code that I might need help with.
For example the field `language`has a bunch of progres value in the column `C` what value could be used to map with the tab Language.

[2021-04-22 06:12] aleksa-krolls commented on #3
fantastic @lakhassane. We just got a new version of state from UNHCR, can you please test with this?
https://www.openfn.org/projects/p5am6e/messages/mmq3jvbd

@daissatou2 please work with Mamadou to answer any questions and to setup this job on OpenFn. You can configure the job, creds (`Primero Dadaab Demo (open_function)`), and adaptor and send him a link to connect with Github.

For testing...
1

[2021-04-22 06:23] aleksa-krolls commented on #5
@hnyende this issue looks really nice 👍  , but I think there's some confusion between the system names (Primero vs. DTP vs. Progres)... let's discuss in our check-in to then finalize this issue and the data flow diagram.

Also, this is is the destination endpoint for sending referrals. To discuss...
https://antirrio.azure-api.net/primero-uat/ReceiveIncomingReferral

[2021-04-22 07:41] aleksa-krolls commented on #4
@lakhassane I've asked UNHCR to confirm they received your post. If you're getting `200`s, assume it's working for now :)

[2021-04-22 10:15] aleksa-krolls commented on #3
@lakhassane To clarify the credentials
- Primero (see LP for `Primero Dadaab`)
- DTP (see LP for `UNHCR Subscription` & then also include certificate thumbprint)

[2021-04-22 10:31] daissatou2 commented on #3
@lakhassane please use this job that I set up: https://www.openfn.org/projects/p5am6e/jobs/jywr9p

[2021-04-22 10:34] lakhassane commented on #3
Thanks @daissatou2. By the way, I forgot to ask yesterda, should we use the same data to upsert the cases, and to upsert the referrals? I don't know how primero works on the referral side and I might need a bit of help.

[2021-04-22 11:29] lakhassane commented on #3
@aleksa-krolls Im trying to create a case but bumping on a `403 forbidden`that is not say we don't have the permission to do so. Something worth asking the client?
cc: @taylordowns2000

[2021-04-22 11:52] aleksa-krolls commented on #5
@lakhassane Also ready to be worked on when you have finished up `Flow 1`... this is the other direction of the same business process. @hnyende is the lead on this issue, and can also support with questions :)

[2021-04-27 05:15] aleksa-krolls commented on #5
@lakhassane When you're done drafting these, to enable easier testing... can you please setup job `1` to post the Primero cases back to the OpenFn inbox, and then configure job `2` to run on a Message filter trigger? (Before go-live we'll change back to flow jobs, but UNHCR wants to post their own JSON samples to the Inbox.)

@daissatou2 We can then share the JSON output generated by job `1` with

[2021-04-27 15:09] lakhassane commented on #5
@hnyende @aleksa-krolls some of the properties in the mapping sheet are inside arrays (e.g `service_response_day_time`) then they are present multiple times in the case we are mapping. Could you advise on the best way to handle those: which one to take? is there a combination to do ?

[code]

[2021-04-27 16:22] lakhassane commented on #5
@hnyende for job 3, can you advise on the mapping to use for the decision to post back to `primero`, the actual fields to send?

[2021-04-29 06:26] #4 closed

[2021-05-04 10:35] aleksa-krolls commented on #5
@lakhassane Updates from our side...
1. If we fetch a `case` that has multiple `service` items in its `services_section` array, then we want to create 1 referral per service. (The case mappings like `name`, `age`, etc. will be the same for both referrals... but the `service_type` and related info will be different.)
2. When mapping user specific fields, Primero team says we need to make a separate

[2021-05-04 16:50] aleksa-krolls commented on #5
@lakhassane as just discussed per the above feedback, let's adjust the job to...
1. First look-up user info via the `/users` API endpoint. (We only need to search for users specified in the case `owned_by` field.)
2. Then create a referral `obj` to send to DTP for every item in the `services_section` where `service_implementing_agency === 'UNHCR`
3. Then map as you are currently...

[2021-05-05 04:56] aleksa-krolls commented on #5
@lakhassane please let me know when this done/ changes are committed... and of course, if you have any questions! We need to make minor mapping adjustments, so I want to make sure I'm working off the latest branch.

[2021-05-05 16:56] lakhassane commented on #5
@aleksa-krolls the changes in here are done.

[2021-05-06 07:55] aleksa-krolls commented on #5
@lakhassane please advise on what the `token` should look like for the updated configuration given your last changes.

[2021-05-06 08:01] aleksa-krolls commented on #3
@lakhassane Some changes here for `jobs/1.upsertExtracts.js` when we upload referrals to Primero...

We have an updated `state.json` from DTP that groups referrals in an `interventions[*]` array: https://github.com/OpenFn/primero-progres/blob/master/sampleData/progres_outboundReferral.json

This notification should trigger OpenFn to upsert cases in Primero. I tried to adjust the job to support thi

[2021-05-06 08:42] aleksa-krolls opened #6 "Flow 1: New criteria for getting referral decisions from Primero"
## Background, context, and business value
See issue #3 for context on the data Flow 1: Progres referrals --> Primero.
After a referral is uploaded to Primero, job `1.b.sendReferrals.js` will run daily to check Primero to see if case workers accepted/rejected this referral. The aim is to then notify DTP of the decision.

## The specific request, in as few words as possible
When we `getCases(...)`

[2021-05-06 08:49] aleksa-krolls opened #7 "DTP job failures log the certificate keys from `configuration`"
## Describe the bug
I've noticed that when HTTP requests sent to DTP fail, the certificate details from `configuration` is included in the run logs. See L83 here: https://www.openfn.org/projects/p5am6e/runs/rk5g83y9

See issues #3 and #5 for more background on the jobs for this project.

## To Reproduce and Test
Re-run this on prod to test: https://www.openfn.org/projects/p5am6e/runs/rk5g83y9
(We

[2021-05-06 08:52] aleksa-krolls commented on #7
@lakhassane @taylordowns2000 Please note that this is important, but not urgent... we have 1+ week to resolve while testing is still in progress.

[2021-05-06 11:34] lakhassane commented on #3
Ah @aleksa-krolls the issue here was you used an `each` that was already looping accross the `interventions` array so no need to use a `forEach`. Im removing it now.

Just to confirm if we have two object in interventions, we need to send two calls to create/update case right?

[2021-05-06 14:48] lakhassane commented on #6
@aleksa-krolls it is configured in prod: https://www.openfn.org/projects/p5am6e/runs/r9wxpdg4

[2021-05-06 15:25] aleksa-krolls commented on #3
@lakhassane I see a new failure for this job on a Message/Intervention that was just sent by DTP to the OpenFn Inbox. Can you please take a look to troubleshoot `jobs/1.upsertExtracts.js`?
Run failure: https://www.openfn.org/projects/p5am6e/runs/r9wxpm6j
Message: https://www.openfn.org/projects/p5am6e/messages/mpq7bwn6

[2021-05-06 15:37] aleksa-krolls commented on #6
@lakhassane Question on this one... are you getting ALL Primero cases and then filtering? (I worry this will be hard to scale if the GET request returns hundreds of records.)
We should ideally...
1. Send a GET request to Primero where we have a query parameter filtering by `last_updated_at`.
According to the [API docs](https://github.com/primeroIMS/primero/blob/development_v2/app/controllers/api/v

[2021-05-06 17:50] #3 closed

[2021-05-06 17:52] aleksa-krolls commented on #7
@lakhassane What was implemented here to resolve this? Was this a job or adaptor change? (Wondering if additional changes need to be made across other DTP jobs.)

[2021-05-07 07:39] aleksa-krolls commented on #7
@lakhassane See my slack comment. The run I linked to above is for `language-http` (not `primero`) so I want to make sure this is indeed resolved.

[2021-05-07 11:04] aleksa-krolls commented on #6
@taylordowns2000 Want to take a crack at improving this one? See my comment above... worried that this extract step will not work well when we have several cases to get from Primero.

[2021-05-07 13:05] lakhassane commented on #7
@aleksa-krolls I replicated those that run `language-http`

[2021-05-07 15:24] #7 closed

[2021-05-07 18:12] #5 closed

[2021-05-07 18:25] aleksa-krolls opened #8 "Additional mapping logic for flow 2 (Primero referrals to DTP)"
## Background
See issue #5 for original specs for this Flow 2 where we are uploading referrals to DRP.

## Request
Implement the following mapping logic for 3 fields. Note that I've already added the mapping values to the joob.

1. `service_type` mapping
state provide 1 value
https://github.com/OpenFn/primero-progres/blob/0552beb59855c0cb55b3accfc255d92dde233284/sampleData/primero_outboundReferral

[2021-05-07 18:30] aleksa-krolls opened #9 "Send each Primero referral as 1 Message to Inbox"
## Background
See issue #3 for original specs for Flow 2 (Primero referrals --> DTP). Currently the Get Primero extract job will return all referrals in 1 Message if multiple cases are found. See this example Message that includes multiple referrals: https://www.openfn.org/projects/p5am6e/messages/mrbpg7ej

## Request
Please only include 1 referral in each Message for optimized troubleshooting whe

[2021-05-10 12:15] lakhassane commented on #8
@aleksa-krolls  I made the changes for this one.

[2021-05-10 12:40] lakhassane commented on #9
@aleks I need a bit of clarification here.
Currently there is only one Message sent to inbox and it looks like this:

<img width="463" alt="Screen Shot 2021-05-10 at 12 37 57" src="https://user-images.githubusercontent.com/8411231/117660563-d6126680-b18c-11eb-9eeb-d66dfd821836.png">

So Im not sure what is the needed change.

[2021-05-10 12:43] lakhassane commented on #9
And the job you linked on the **Test** section is different from the one in **expression** section.

[2021-05-10 13:23] aleksa-krolls commented on #9
@lakhassane Sorry I confused myself. I updated the expression above.
If you run [this job](https://www.openfn.org/projects/p5am6e/jobs/jv7rnp) above... you'll see that multiple referrals are being included in 1 Message ([see example](https://www.openfn.org/projects/p5am6e/messages/mrbpg7ej)).
![image](https://user-images.githubusercontent.com/16758106/117665962-0c131300-b1ac-11eb-9d3b-40979a491636

[2021-05-10 13:52] taylordowns2000 commented on #6
@aleksa-krolls  (cc: @lakhassane ), this has been implemented, but i'm skeptical about using `today` as the filter. i'm also curious about state management here between runs. i'd rather implement that rather long process (is this an oppy for a new platform feature?!?) where we save the `lastSuccessfulRun` date and then use an "all items updated on that day or after" type of filter. this will make

[2021-05-11 09:03] #9 closed

[2021-05-11 11:30] lakhassane commented on #8
@aleksa-krolls changes done for 1.
For 2 I made the correction: https://www.openfn.org/projects/p5am6e/runs/rrkzdz4n

However no decisions is sent. maybe a problem with the `case_id`used?

[2021-05-12 15:58] aleksa-krolls opened #10 "Flow2 issue upserting cases with decision status in Primero - update logs & check for bug"
## Describe the bug
See issue #5 for original Flow 2 specs.

In this run (https://www.openfn.org/projects/p5am6e/runs/r6grxemw) DTP has sent OpenFn a referral decision (see related Message: https://www.openfn.org/projects/p5am6e/messages/mk5a53qn) that we want to send back to Primero and upsert cases with.

I can see the run succeeded, but I'm very confused by what I see in the logs. Does this mea

[2021-05-12 16:47] aleksa-krolls commented on #10
@lakhassane For every item in the `Intervention` array, we should upsert 1 `case` in Primero (and therefore send a separate GET request to search for each). When searching for existing Primero cases, the Primero `case_id: progres_interoperabilityreferralid`.

For the updated `decision` mappings, please use this:
[code]

[2021-05-12 17:11] lakhassane commented on #10
@aleksa-krolls I updated accordingly.

[2021-05-12 17:36] aleksa-krolls commented on #10
@lakhassane Cool... so I re-ran this Message and I see `0 cases retrieved`: https://www.openfn.org/projects/p5am6e/runs/r9wxmbbp

If that's the case, can we force this to fail... `No cases found. Decision update failed.`

[2021-05-12 18:07] aleksa-krolls commented on #10
@lakhassane actually `case_id: progres_orgreferralid`

[2021-05-12 21:25] #8 closed

[2021-05-14 10:45] aleksa-krolls opened #11 "Flow1 referrals to Primero: updated mapping logic"
## Background, context, and business value
See issue #3 for the original specs, and see issue #8 where similar mappings were implemented for services, protection concerns, and languages. I tried to borrow this logic from `2.b.uploadReferrals.js` and implement these transformations in this job... but not successful.

## The specific request, in as few words as possible
Check the job for the `TODO`

[2021-05-14 10:52] aleksa-krolls commented on #10
@lakhassane If we're trying to update a case in Primero with a decision, and no matching case is found... we throw an error. See example: https://www.openfn.org/projects/p5am6e/runs/rj5zynr7

Can you please add a log that says `No case found in Primero for id X` and include the id `case_id: data.progres_orgreferralid`

[2021-05-14 11:17] lakhassane commented on #10
@aleksa-krolls logs done for both.
For the second one I assume it's a copied job and is not actually linked to any github job.

[2021-05-14 13:33] lakhassane commented on #11
@aleksa-krolls is the sample data correct?
e.g for service type I see this in the data `"progres_interventiontype2": "a8b00885-b3c3-e611-xxxx-xxxxxxx"`, but the mapping object you used (`serviceMap`) looks like this
[code]

So data will never map

[2021-05-14 13:35] lakhassane commented on #11
Or eventually are those the right mapping objects you need?

[2021-05-14 17:14] lakhassane commented on #11
@aleksa-krolls I checked the TODOs with the sample data. Note that I still doubt about the mapping objects but I left a note on how they should be formatted on Line 14.

[2021-05-17 14:23] aleksa-krolls commented on #11
@lakhassane Quick feedback on item 3. If the progres `languages.progres_languagecodeid.Name` listed in state is not in the `languageMap`, please return the value `other`.
https://github.com/OpenFn/primero-progres/blob/master/jobs/1.upsertExtracts.js#L98
Here's the sample state again: https://www.openfn.org/projects/p5am6e/messages/mgk5er9q

[2021-05-18 14:08] lakhassane commented on #11
@aleksa-krolls ready for testing

[2021-05-19 15:10] #10 closed

[2021-05-20 09:04] #11 closed

[2021-05-21 16:53] aleksa-krolls opened #12 "Log primero case_id or record_id (both if available)"
After we upload a case to Primero (see example run: https://www.openfn.org/projects/p5am6e/runs/rd7e8mx9)... please log the Primero `case_id` or `record_id` (or both if available). I know that Primero will provide this in its response to our POST http requests.

## expression
https://github.com/OpenFn/primero-progres/blob/master/jobs/1.upsertExtracts.js

## adaptor
primer

## state
https://www.ope

[2021-05-21 16:54] aleksa-krolls commented on #12
@lakhassane I think a very quick one if you have time before signing off today!

[2021-05-21 17:19] lakhassane commented on #12
@aleksa-krolls done.
Check log at line `64` https://www.openfn.org/projects/p5am6e/runs/ryakeg6e

[2021-05-21 17:32] aleksa-krolls commented on #12
amazing, thanks!

[2021-05-21 17:32] #12 closed

[2021-05-26 08:59] aleksa-krolls opened #13 "Check if each location exists, concatenate address"
## Request
Progres will sometimes send us up to 6 `locationlevel` fields that when combined, complete a full `address_current`. However, sometimes all 6 location fields are not available... we therefore need to check if each `locationlevel` (address1, address2, etc) exist... and if yes, concatenate them with a space.

I implemented this change so far... but it returns too many extra spaces when on

[2021-06-01 05:00] aleksa-krolls opened #14 "Add date filter to Primero `getCases(...)` query"
## Background
See issue #5 for background on the Primero --> DTP/Progres referral flow.

## Request
In this other job, we added a query filter to only get cases updated in the last 24 hours (see below).
https://github.com/OpenFn/primero-progres/blob/5dc8b58b6784f4b998c193a0eb9e365b955332db/jobs/1.b.sendReferrals.js#L6-L15

**Can we please add this data query into the `2.a.getCases.js` job to also

[2021-06-01 10:23] lakhassane commented on #14
Now @aleksa-krolls Im not sure what was done in `sendReferrals`is working.
If we want to **filter** by `last_updated_at` we need that as a key and not query.
But filtering by last_updated_at returns only the cases of that day and not of the last 24h and I can't find in the documentation anywhere primero allows to do that.

Is it still possible to ask them clear use cases example?

[2021-06-01 10:25] aleksa-krolls commented on #14
@lakhassane Not possible... so please filter where `last_updated_at === today()` and we will time the job to run daily.

[2021-06-01 10:36] lakhassane commented on #14
@aleksa-krolls it's done. I corrected the same for `sendReferrals`

[2021-06-01 11:35] aleksa-krolls opened #15 "Return Primero services where `service_implementing_agency_individual === 'unhcr_cw'`"
## Request
Currently we check if the _first_ service has `service_implementing_agency_individual === 'unhcr_cw'`.
https://github.com/OpenFn/primero-progres/blob/9803138de5de47809f2904320a474ece8aed2f87/jobs/2.a.getCases.js#L11-L12

Please change the logic to check ALL service items in the `services_section` array for this criteria.

Note that some cases may have an empty `services_section[...]` an

[2021-06-01 11:44] aleksa-krolls commented on #14
@lakhassane Can you please make sure that `today()` always has a timestamp of `00:00`? (e.g., `2021-05-31 00:00`) Right now we're returning the current timestamp

[2021-06-01 14:18] lakhassane commented on #14
it's set @aleksa-krolls so right now here is the query we are returning
[code]

[2021-06-01 16:20] aleksa-krolls commented on #15
Looking great so far, thanks @lakhassane !

[2021-06-01 16:20] #15 closed

[2021-06-01 16:20] #14 closed

[2021-06-02 05:56] aleksa-krolls opened #16 "Return `telephone_current` as string value, not number"
See slack chat: https://openfn.slack.com/archives/G2LJCFFDW/p1622609175026300

## expression
https://github.com/OpenFn/primero-progres/blob/62a4a59c792215e54bdf678413c0b40c69d5e94a/jobs/2.b.uploadReferrals.js#L281

## state
https://www.openfn.org/projects/p5am6e/runs/rpdemdj3

[2021-06-02 11:41] #16 closed

[2021-06-02 17:44] aleksa-krolls opened #17 "New date filter for `getCases(...)` jobs"
## Background, context, and business value
See issue #14 . If we filter by a specific datetime, this will only extract cases with the same exact datetime stamp.

## The specific request, in as few words as possible
We want to extract cases _greater_ than the datetime of the last fetch. This can be done with the Primero API by querying...
`GET /api/v2/cases?last_updated_at=2021-06-02T20:00:00.587Z.

[2021-06-02 17:48] aleksa-krolls opened #18 "Field mapping not returning value `unhcr_id_no: undefined`"
## Bug
See [this run](https://www.openfn.org/projects/p5am6e/runs/rx85kke4) - L22: `unhcr_id_no: undefined`. However, the source value is available in state and the job mapping looks right to me... what do you think is going on?
(This might be affecting other mappings too, if it is an issue)

## expression
https://github.com/OpenFn/primero-progres/blob/0c6801fb13ae5f778269607de6595c6c155fab40/jobs

[2021-06-03 08:06] aleksa-krolls commented on #18
@lakhassane Let me know if this can be addressed before 10:30a Senegal time. (UNHCR is starting a testing session then, so I need to let them know if the bug has been resolved.)

[2021-06-03 09:37] #6 closed

[2021-06-03 09:48] lakhassane commented on #18
@aleksa-krolls I made the corrections: https://www.openfn.org/projects/p5am6e/runs/r3xmrgge

[2021-06-03 11:57] aleksa-krolls opened #19 "Flow 2: Primero referral to DTP fails"
## Bug
See [this run](https://www.openfn.org/projects/p5am6e/runs/rx85y57p) ... we need to handle for scenarios where `language` and `protection_concerns` might not be defined in primero... if that's the case, then we return `null` in the mapping when sending to DTP

## expression
https://github.com/OpenFn/primero-progres/blob/master/jobs/2.b.uploadReferrals.js

## state
https://www.openfn.org/pro

[2021-06-03 12:03] aleksa-krolls commented on #17
@lakhassane fyi, I was just on a testing call with unhcr and made some edits to these job for that testing... please feel free to overwrite my edits with any changes you make.

[2021-06-03 12:08] aleksa-krolls opened #20 "Flow 1: Case with `closed` status is not being sent to DTP"
## Bug
See [this run](https://www.openfn.org/projects/p5am6e/runs/r44w8wrb) and look at case `4f83f02`.
If you see L33: ` status: 'closed'`

And yet... on the last line of the log: `All cases have "open" status. No decisions to send to DTP`

We need to make sure we send `closed` cases to DTP... because this mean the caseworker has "rejected" the case and we have to send a decision back to DTP.

##

[2021-06-03 12:09] #18 closed

[2021-06-03 12:18] lakhassane commented on #17
noted @aleksa-krolls I made the corrections for both.

[2021-06-03 12:37] aleksa-krolls opened #21 "Flow2-1: Only send new services as referrals, discard old services"
## Background
See issue #6 and #17

## Request
Remember 1 Primero service = 1 DTP referral. Two changes...
1. when we filter cases by the `services_section` like we do in L15-16, we need to ALSO only send cases with ANY service that matches the criteria: `service_response_day_time >= {lastRunDateTime}`. See issue #17 for how this datetime should be dynamically set.
https://github.com/OpenFn/primer

[2021-06-03 15:27] lakhassane commented on #21
@aleksa-krolls so I changed the job in such a way we are ONLY sending services inside cases that respect the condition. So if multiple services are in a case, only certain are send to the 2nd job flow.
Then no need to address this conditions again in the 2nd job.

[2021-06-03 16:44] lakhassane commented on #19
Correction made: https://www.openfn.org/projects/p5am6e/runs/rwapnygn

[2021-06-04 13:45] aleksa-krolls opened #22 "Flow1-1. Send Referrals to Primero --> upsert 1st matching case"
## Request
In this job we search for existing Primero cases for `unhcr_individual_no` before upserting the case with referral info.

See this run where 6 matching Primero cases are found... this is because of bad test data, so shouldn't happen in real life... but please upsert the first matching Primero case found, if multiple.
https://www.openfn.org/projects/p5am6e/runs/r5e6yg5r

## state
Please

[2021-06-07 11:28] lakhassane commented on #20
@aleksa-krolls that one is not exactly a bug. The thing (problem?) is we first filtered by `status` (open/closed) but also by services_section (`progres_interventionnumber`).
There is no case in the whole list that has the `progres_interventionnumber`. I will improve the log of data so you could see the content of services_section and maybe improve the feedback log.

[2021-06-07 12:34] lakhassane commented on #22
@aleksa-krolls I updated the job as specified. However primero keeps randomly returning 500 status code or a 200. Maybe something to check with them.

[2021-06-08 12:20] aleksa-krolls commented on #20
thanks @lakhassane ... I didn't notice that filter, thanks. I have adjusted and re-run, but this still isn't quite working.

See this run (https://www.openfn.org/projects/p5am6e/runs/rg5ra9pm) and search for case `4f83f02`. This case matches my filter, so I expect a decision to be sent... but nothing happens. The job just seems to stop running and says `Finished` after the cases are fetched.

[2021-06-08 13:40] lakhassane commented on #20
@aleksa-krolls I corrected as discussed. Here is the run https://www.openfn.org/projects/p5am6e/runs/rzd6jdnx

[2021-06-08 14:39] #19 closed

[2021-06-09 07:30] #22 closed

[2021-06-09 07:32] aleksa-krolls commented on #21
@lakhassane To avoid the issue we encountered yesterday, after we complete both service filtering checks...can you please add logic to _not_ create any OpenFn Messages to send to Inbox if `services_section[]` is empty?
If there are no services left, that means there are no referrals to send to DTP.

[2021-06-09 12:38] lakhassane commented on #21
@aleksa-krolls I implemented the change

[2021-06-09 14:39] #21 closed

[2021-06-10 14:20] #20 closed

[2021-06-17 07:13] aleksa-krolls opened #23 "Validate referrals from DTP & send notification if error"
## Background, context, and business value
This is related to the call you joined where we discussed catching errors and sending updates back to DTP.
[See here](https://docs.google.com/presentation/d/1S_BuMzJ2MzcvJCoHUPWxkfwYkFP-V-ValIWH4EP3Cj8/edit#slide=id.gd962fdc62e_0_0) for the original data flow diagram, where now we want to let DTP know if the upload to Primero succeeds in step `5` in the d

[2021-06-17 07:19] aleksa-krolls opened #24 "Send success notification if `Flow1-1` succeeds"
## Background, context, and business value
Related to issue #23 , but now we want to send success notifications.

## The specific request, in as few words as possible
If job `Flow 1-1` succeeds (https://www.openfn.org/projects/p5am6e/jobs/jywr9p), then send this notification to DTP:
[code]

## trigger
Flow job that runs ONLY if Flow1-1 succeeds
form-name"}`

## expression.js
New job `Flow1-4` that

[2021-06-18 17:21] lakhassane commented on #24
@aleksa-krolls this is implemented.

[2021-06-18 17:22] lakhassane commented on #23
@aleksa-krolls I implemented that new flow

[2021-06-21 15:26] aleksa-krolls commented on #24
@lakhassane I've turned on the job to test, and see this is failing with TypeError: https://www.openfn.org/projects/p5am6e/runs/r6g47j76

Feel free to test on prod - see Message link above to trigger this.

[2021-06-21 15:28] aleksa-krolls commented on #23
@lakhassane Looking great. If it's not too difficult, can we please add to the logs specifically what field is missing?
Current message:
[code]
Desired:
[code]

[2021-06-21 16:26] lakhassane commented on #24
Find correction and green check: https://www.openfn.org/projects/p5am6e/runs/ryawp8e7

[2021-06-28 06:25] #24 closed

[2021-07-13 10:30] aleksa-krolls opened #25 "Flow1-1. Send Referrals to Primero fails with `422 Invalid JSON` error"
## Describe the bug
See run here: https://www.openfn.org/projects/p5am6e/runs/r89y49pz
[code]

## To Reproduce
Feel free to re-run on prod. Remember Primero recently updated API so we have to send `content-type: application/json` in the HTTP request header. Wondering if that is related to this or if something else is going on?

### expression.js
https://github.com/OpenFn/primero-progres/blob/maste

[2021-07-14 07:55] #23 closed

[2021-07-14 14:59] lakhassane commented on #25
@aleksa-krolls I doubled check here and it seems like (also in the logs) we have bad data in the json we update. See these fields here:
[code]
If you check thoses fields in the message are you able to say if they are correct? I made a test by commenting them out of the job and had a green check locally.

[2021-07-14 16:04] aleksa-krolls commented on #25
Thanks @lakhassane! I will revisit the mappings.

[2021-08-03 08:38] #25 closed

[2021-09-27 12:17] daissatou2 opened #27 "Flow 1: Updates to Jobs"
## The specific request, in as few words as possible

1. Update Primero `owned_by` [field](https://github.com/OpenFn/primero-progres/blob/master/jobs/1.upsertExtracts.js#L511) to not default to `unhcr_cw` but to map to Progres `business_owner` field instead. I.e. `owned_by` = user (depending on `progres.business_owner`). **Does this require a new mapping table?**
2. Progres`intervention_descriptio

[2021-09-27 13:24] daissatou2 opened #28 "Flow 2: Updates to Jobs"
## The specific request, in as few words as possible

1. On job flow 2-1 update job to only extract cases & related services where service.to_user_local_status = ‘pending’: https://github.com/OpenFn/primero-progres/blob/master/jobs/2.a.getCases.js#L14-L24
2. On job flow 2-1 Update which focal point users we check for referrals (unhcr_cw) (**AK to review this one**)
3. On job flow 2-3 when Progres

[2021-09-27 18:29] aleksa-krolls commented on #27
@daissatou2 Can you please...
1. We will need to follow up with Robert here. On hold.
2. Detail the mapping specs for `service_referral_notes`... what are all the source fields (3?) that should be concatenated? See the master mapping spec.
3. Please go ahead and implement: https://github.com/OpenFn/primero-progres/blob/master/jobs/1.upsertExtracts.js
4. Want to also try implementing this yourself?

[2021-09-27 18:32] aleksa-krolls opened #29 "Flow 2-2: Mapping updates"
## Request
**Updates for job [Flow 2-2](https://www.openfn.org/projects/p5am6e/jobs/jydbjq)**
1. To add: `primero_service_id` mapping … TBD destination field name in Progres (pending Cyril input, and then we can add)
2. Update mapping tables for services, protection concerns, etc. to match [sheet](https://docs.google.com/spreadsheets/d/1ieoiGsdGuOA1E3jbw0lWkW-H-V9RzrtxYUdrRsHpOF4/edit#gid=48230795

[2021-09-27 18:33] aleksa-krolls commented on #29
@daissatou2 Tomorrow can you try taking on these changes? Should be a lot of copying, pasting & formatting to update the mapping tables. Feel free to test on prod, and keep me posted where you get stuck.

[2021-09-27 18:39] aleksa-krolls opened #30 "Flow 2-3: Add step to find Primero `referral` & update status"
## Background
Flow 2-3: Currently sends UNHCR caseworker’s decision back to Primero (see [sample decision state](https://github.com/OpenFn/primero-progres/blob/master/sampleData/progresDecision__flow2-3.json) that Progres sends to the OpenFn Inbox)

Current job uses `getCases(...)` to find the case `record_id` using `case_id`, and then `updateCase(...)` to update case status. Now we are NO longer

[2021-09-27 18:44] aleksa-krolls commented on #28
@daissatou2 fyi, I created separate issues for some of these for Mamadou to start on... added links above.

Let me review the other items, and let's discuss tomorrow!

[2021-09-28 16:04] daissatou2 commented on #27
1. OK.
2. Done in the original comment.
3. Please review this [commit](https://github.com/OpenFn/primero-progres/commit/5ee47a95e8409d8fe5c8ab1c1235a94459841607#diff-bd9aae6819a3168799e1cba0decf52cfecd86ed723b826b2245e8df09d1451f0). (Forgot to do a pull request instead).
4. https://github.com/OpenFn/primero-progres/pull/31

[2021-09-29 12:32] lakhassane commented on #30
@aleksa-krolls Im running tests here but I have a suggestions.
Instead of removing `updateCase` we can also remove `getCases(...)` and use directly `getReferrals()` because getReferrals itself goes to fetch the case first. So no need to prior fetch the cases.

One problem with that is if there is no case we will not thrown an error as previously but only log `'No cases found'`

[2021-09-29 12:51] lakhassane commented on #30
@aleksa-krolls tested and working locally. Let me know please when we have a message in prod that I can use to test in prod.

Also Im updating referral using `decision` object that was built previously in the job. Should we still keep that one or build another one?

[2021-09-29 13:11] aleksa-krolls commented on #30
@lakhassane
1. Re: your suggestion - I don't think we can skip the `getCases(...)` step because I think we need to use the `case_id` to look up the case's `record_id` to map in #2 below. Unless your testing is showing otherwise or if you managed to make `updateReferrals(...)` work using either `case_id` or `record_id`. Let me know if you want to discuss.

2. No, good catch. When we update the refe

[2021-09-29 14:20] lakhassane commented on #30
@aleksa-krolls updated decision accordingly

[2021-09-29 15:20] aleksa-krolls commented on #30
@lakhassane Failing on prod... what adaptor version should I be using? Please update on prod and feel free to re-run...
Job: https://www.openfn.org/projects/p5am6e/jobs/jyx9bg
Run: https://www.openfn.org/projects/p5am6e/runs/0615483f-fba1-746a-bbe9-bd3619cccbef

[2021-09-29 15:25] lakhassane commented on #30
@aleksa-krolls `v2.3.1`. I re-run https://www.openfn.org/projects/p5am6e/runs/06154853-b1a1-723a-a9e5-f29a3040ae1b

However no case matching that `case_id`?

[2021-09-29 15:29] aleksa-krolls commented on #30
@lakhassane test data issue... we're in business!!
https://www.openfn.org/projects/p5am6e/runs/0615485c-664a-76f1-8049-4b13281edea3

@daissatou2 looking the like the new referral flow will work :D. Tomorrow we'll walk through testing with Rob, and then you and I can do some more testing over the next couple of days

[2021-09-29 15:29] #30 closed

[2021-09-30 11:25] aleksa-krolls opened #33 "Flow1-1: Update `registration_date` format"
## Request
The current ISO date that sets `registration_date = today()` doesn't work. See hardcode example data value that does:
https://github.com/OpenFn/primero-progres/blob/635378f8ce9acd53600965b4fe2363e4f8c76711/jobs/1.upsertExtracts.js#L488-L489

## state
See LP for `Primero Gambella open_function API user`
https://www.openfn.org/projects/p5am6e/messages/061517a0-6ce0-70fd-b63c-13336bfa8be1

[2021-09-30 12:04] aleksa-krolls commented on #29
@daissatou2 Fyi...mappings looking good for now.

[2021-09-30 12:04] #29 closed

[2021-09-30 12:16] aleksa-krolls opened #34 "Flow 2-2: Add service `unique_id` substring to `id`"
## Request
Current mapping returns a string that is 73 characters long.
`id: ${case_id}#${service.unique_id}`

The field `id` needs to be 49 characters long, following the format `{case_id}#{service_uid}`.
However, the service `unique_id` is a very long string, so we want to take a substring of the **last 12 digits of `service.unique_id`** to append to the case_id so that...
`id: ${case_id}#${serv

[2021-09-30 13:06] lakhassane commented on #34
I made the change @aleksa-krolls see screenshot

<img width="485" alt="Screen Shot 2021-09-30 at 13 05 46" src="https://user-images.githubusercontent.com/8411231/135460698-6a505588-b254-4c89-b25d-d55f5e139f6c.png">

[2021-09-30 13:47] lakhassane commented on #33
@aleksa-krolls green check here: https://www.openfn.org/projects/p5am6e/runs/06155bf8-4639-7ab8-b2f2-18b154dfe912

New case created with the right `registration_date` (see on postman): `d115bb50-4080-497a-ac01-71799fadf09c`.

[2021-09-30 16:18] aleksa-krolls opened #35 "Flow2-2: Invalid time value"
## Request
In testing, seeing this error: `RangeError [Error]: Invalid time value`
https://www.openfn.org/projects/p5am6e/runs/06155e28-2241-7198-96ad-1bc3c58afd7f

Feel free to re-run on prod.

## expression
`jobs/2.b.uploadReferrals.js`

## state
`open_function` user should now have all the appropriate access - see job: https://www.openfn.org/projects/p5am6e/jobs/jydbjq

Message: https://www.ope

[2021-09-30 16:48] lakhassane commented on #35
@aleksa-krolls issue with date_of_birth. It's failing now with some unhcr issue

https://www.openfn.org/projects/p5am6e/runs/06155ea0-5995-7e4d-802e-6c1b399b5592

[2021-09-30 16:56] #34 closed

[2021-09-30 16:56] #33 closed

[2021-10-01 08:20] #35 closed

[2021-10-07 14:22] daissatou2 opened #36 "TypeError on flow job"
## Describe the bug
TypeError is wrong… why undefined? We’re mapping it in the first job.

This `Flow 1-4` job is a flow job, linked to `Flow1-1` (jobs/1.upsertExtracts.js).

## state
Here is a sample state for this 1st Flow1-1 job: https://www.openfn.org/projects/p5am6e/messages/0615ead8-44e4-7f14-84bd-738f09e804c2

See LP `Primero Gambella open_function` API user

## To Reproduce
1. Here is a li

[2021-10-07 14:27] daissatou2 opened #37 "Update mapping for Service Referral Notes on Flow 1-1"
## Background, context, and business value

`service_referral_notes` concatenates three fields with a comma.  Currently when these fields are not present in state we still add commas and send to Primero. `service_referral_notes` on this [run](https://www.openfn.org/projects/p5am6e/runs/0615ee93-22de-7c45-b255-34600b02bbb5) is equal to ', , ' when it should be an empty string.

## The specific requ

[2021-10-11 14:52] aleksa-krolls opened #38 "Flow1-2: Send 1 referral `decision` for each 1 service that matches criteria"
## Background, context, and business value
Related to Flow 1 where Progres sends a referral to Primero --> this upserts a case and individual _service_. (1 Progres referral = 1 Primero service)

Primero users will review the referral and update the individual service's "unhcr_referral_status" to accept/reject. We then need to send this decision back to Progres.

## The specific request, in as few

[2021-10-12 04:54] aleksa-krolls commented on #38
@lakhassane please prioritize this today... we hope to use in a testing session @ 2p

[2021-10-12 04:56] #37 closed, assigned to lakhassane

[2021-10-12 11:36] lakhassane commented on #38
@aleksa-krolls I updated the `case_id`. see L185 and 194

[2021-10-12 12:43] aleksa-krolls opened #39 "Send DTP error if `interventiontype.progres_description` not included in `serviceMap`"
## Background, context, and business value
We're extending the error-handling logic implemented in #23

## The specific request, in as few words as possible
DTP will send us a Message like this: https://www.openfn.org/projects/p5am6e/messages/06165766-e52d-7ea6-8f5b-a9482d26375e

Before running the other job steps, please check to make sure `interventiontype.progres_description` is in the ServiceM

[2021-10-15 05:34] aleksa-krolls commented on #38
@lakhassane For Monday... if I look at this run log (https://www.openfn.org/projects/p5am6e/runs/0616911c-28d4-70d4-a9d2-fd81c2088f3b), it appears we're sending `pending` decisions (when we should only send `accepted` or `rejected`. Is that the case?
[code]
This log `Number of matching referrals:  2` looks correct... I see 2 `rejected` referrals, but want to make sure that's indeed what is being s

[2021-10-15 05:36] #39 closed

[2021-10-19 12:37] aleksa-krolls opened #40 "Adaptor update: TypeError [ERR_INVALID_ARG_TYPE]: The "url" argument must be of type string."
## Describe the bug
I recently upgraded this job to Primero `v2.3.3` and now I'm seeing this TypeError error... does something need to happen with the credential on prod?
https://www.openfn.org/projects/p5am6e/runs/0616eb7f-1c5c-79e7-a5c0-33a1055d6a92

## To Reproduce
Feel free to re-run on prod: https://www.openfn.org/projects/p5am6e/runs/0616eb7f-1c5c-79e7-a5c0-33a1055d6a92

### expression.js
ht

[2021-10-20 05:43] #40 closed, assigned to lakhassane

[2021-10-20 11:58] aleksa-krolls opened #41 "False success: Primero `500` error is showing as successful run in OpenFn"
## Describe the bug
See the false success run: https://www.openfn.org/projects/p5am6e/runs/0616ecab-7553-7af0-abf6-5708f4b129a4
[code]

## To Reproduce
Feel free to re-run on prod.
We expect this to find the matching case & referral... and update the referral status in Primero.

### adaptor
language-primero@2.3.3

### expression.js
jobs/2.c.uploadDecisionsV2.js

### state.json
See LP for `Primero

[2021-10-20 13:20] daissatou2 opened #42 "Update how we get referrals in Flow 2: Primero-> Progres"
## Background, context, and business value

Update `Flow 2: Primero-> Progres` in how we get referral data from Primero ([Flow 2-1](https://github.com/OpenFn/primero-progres/blob/master/jobs/2.a.getCases.js))

Currently in job Flow 2-1,  on a scheduled basis OpenFn...
- **Step 1:** Gets cases from Primero that have been recently updated. See [filtering criteria](https://github.com/OpenFn/primero-p

[2021-10-21 10:08] aleksa-krolls commented on #41
@lakhassane Okay, cool. Noted re: `v2.3.4`!

Now can you help me solve the `500` error :-)
This was working before... see example successful run below:
https://www.openfn.org/projects/p5am6e/runs/06168c23-52ed-728d-907e-9ff85d13cf25

[2021-10-21 10:54] #36 closed, assigned to lakhassane

[2021-11-01 10:07] aleksa-krolls commented on #42
@daissatou2 Confirming this is looking good? Can we close this issue?

[2021-11-01 10:20] #42 closed

[2021-11-02 12:38] lakhassane commented on #41
@alek if they deployed the fix this issue should auto-solve I would say.
Im having a green check here: https://www.openfn.org/projects/p5am6e/runs/06181305-b1c5-77c9-bb7d-415da46b3a7b

But no cases. Also not hitting `500` with postman anymore.

[2021-11-02 13:44] aleksa-krolls commented on #41
@lakhassane It looks like this `case_id` query doesn't work if cases were created _before_ the patch fix. I've reached out to Quoin.
cc @daissatou2 pls ask me about this

In the meantime, I have it working for a more recent case here: https://www.openfn.org/projects/p5am6e/runs/061813fb-3cad-7e6f-a32b-1a39bdf9c21d

**Request:** If case is NOT found, can you please throw an error and force the job

[2021-11-02 20:52] lakhassane commented on #41
@aleksa-krolls throwing error when case not found: https://www.openfn.org/projects/p5am6e/runs/06181a4d-cdad-7066-956a-d1940c80efbc

[2021-11-03 06:50] aleksa-krolls commented on #41
@lakhassane Looking great, thank you!

[2021-11-03 06:50] #41 closed

[2021-11-23 21:06] aleksa-krolls opened #43 "Flow1-2: Only send referral decisions if service date > `state.lastRunDateTime`"
## Issue
Currently we send the same decision multiple times to Progres because our `lastRunDateTime` cursor does not filter on the service-level.

For example, we have sent this decision below 2 times (see [run 1](https://www.openfn.org/projects/primero-progres-v4-staging/runs/0619cf3e-2173-7fb6-a4e0-07f4c4d6540f) and [run 2](https://www.openfn.org/projects/primero-progres-v4-staging/runs/0619ce9a

[2021-11-23 21:09] aleksa-krolls commented on #43
@daissatou2 fyi, this came up while testing with UNHCR yesterday. I saw that we were sending the same decision to Primero multiple times.

[2021-11-24 10:45] lakhassane commented on #43
@aleksa-krolls @daissatou2 I made the change to filter with `service_response_day_time`.
Find the 2 runs [here](https://www.openfn.org/projects/primero-progres-v4-staging/runs/0619e16a-2d8f-70d4-aeb8-5d81c0c2e268) and [here](https://www.openfn.org/projects/primero-progres-v4-staging/runs/0619e16c-39c8-72dc-a10f-d87c48b717f2)

[2021-11-24 14:22] daissatou2 commented on #43
@lakhassane tested this and it looks look like we are not properly getting referral updates. I set this referral to accepted at the time in the image. And ran job flow 2-1 which did not pick up any updates.

![image](https://user-images.githubusercontent.com/80456839/143255618-36ee66e4-cd48-4324-ba66-1e377ca9f39a.png)

https://www.openfn.org/projects/primero-progres-v4-staging/runs/0619e428-6081-7

[2021-12-02 15:38] aleksa-krolls opened #44 "Flow1: Update mappings sent from Primero to Progres"
## Request
We need to make some mapping updated based on the data received from Primero before we send decisions to Progres.

**1. In `Flow1-1` catch and success jobs, update `case_id` mapping to include `#{service-12-digit-substring}`**
The `case_id` syntax is correct in `Flow1-2` ([see here](https://github.com/OpenFn/primero-progres/blob/master/jobs/1.b.sendReferrals.js#L57) where we combine the

[2021-12-06 12:16] lakhassane commented on #44
@aleksa-krolls as discussed I removed the unique_id substring from case_id for `1.b.sendReferrals.js`.
So what's left is to double check if we actually the unique_id for the error and success flow jobs.

[2021-12-09 13:59] #44 closed

[2021-12-13 14:10] #43 closed

[2021-12-13 14:17] aleksa-krolls opened #45 "Flow2: Convert jobs to flow jobs"
## Background, context, and business value
In flow 2, currently we have 2 jobs that (1) fetch data from Primero & post to the OpenFn inbox, and then (2) send onwards to DTP.
<img width="729" alt="Screen Shot 2021-12-13 at 9 11 06 AM" src="https://user-images.githubusercontent.com/16758106/145827617-1744ab0a-d389-4532-85d8-088dbe689aba.png">

## The specific request, in as few words as possible
Con

[2021-12-14 03:23] aleksa-krolls commented on #45
@lakhassane can you please prioritize this in the morning to unblock us before switching back to WCS?
Let @daissatou2 know when ready for testing.

[2021-12-14 10:58] lakhassane commented on #45
@daissatou2 this is ready for testing.

[2021-12-14 14:48] #45 closed

[2022-01-11 09:03] aleksa-krolls opened #46 "Data security feature: delete Messages from Inbox after processed"
## Background, context, and business value
To satisfy data security & privacy requirements, UNICEF requests that we do not keep data sent to OpenFn stored on our servers. However, for this implementation, UNHCR's system Progres sends receipts via HTTP POST requests to the OpenFn inbox to trigger different job flows. Therefore, they'd like to request deletion of these receipts once triggered runs h

[2022-01-24 05:18] #13 closed

[2022-04-27 16:55] daissatou2 opened #48 "Add a new field mapping to the f1-j2-casesToOscar job"
## Background, context, and business value

Add a new field mapping to the [f1-j2-casesToOscar](https://github.com/OpenFn/unicef-cambodia/blob/master/jobs/V2/f1-j2-casesToOscar.js) job.

## The specific request, in as few words as possible
Add the `date_of_referral` field to the `casesToOscar` job mapping. The details for the new field have been added to the [mapping specifications.](https://docs.

[2022-04-27 16:57] daissatou2 commented on #48
@aleksa-krolls I tried copying the mapping for `date_of_birth` but the difference here is `created_at` is on the referrals response instead of the cases response.
![image](https://user-images.githubusercontent.com/80456839/165579268-ed1e2d76-f94a-4348-a86d-163916574ef4.png)

[2022-05-10 12:26] aleksa-krolls opened #49 "Verify `agentOptions` and http auth configuration for ssl certs is working when sending POSTs to Progres/DTP"
## Request
Job is currently failing with the below error when we send a `POST` request to DTP. [See example run](https://www.openfn.org/projects/primero-progres-v4-prod/runs/06273b8e-6640-7aff-980d-68d55490fe60).
[code]
Please test with the sample state below to try to successfully run the job and validate the http adaptor and `agentOptions` are working as expected... . OR *see L215* in the [run l

[2022-05-10 13:59] taylordowns2000 commented on #49
@aleksa-krolls , this looks good. we're using the new [http agent](https://nodejs.org/docs/latest-v14.x/api/https.html#https_https_request_url_options_callback) as directed:

[code]
I'd recommend that, as we're testing anyway, we bump to http `4.0.0` for the newest patches but otherwise we need to wait for them to confirm that this all worked as expected in staging.

[2022-05-10 20:59] aleksa-krolls commented on #49
thanks @taylordowns2000. I've bumped the jobs up to http `4.0.0`. Closing for now as tests are passing, and will wait for any feedback from UNHCR.

[2022-05-10 20:59] #49 closed

[2022-05-12 13:44] aleksa-krolls opened #50 "Scrub data from failed http run logs"
## Background, context, and business value
When this project goes live, we will need to ensure all PII is scrubbed from any run logs and messages (which we will purge after processing).

When HTTP post and put requests fail, we're noticing that the run is logging the sensitive data sent in the request body as part of the failed run log.

## The specific request, in as few words as possible
In rece

[2022-05-13 11:34] #50 closed

[2022-06-10 15:55] daissatou2 opened #52 "f1-1.sendReferralsToPrimero passing on platform but logs are not showing Primero API response"
## Describe the bug

The [f1-1.sendReferralsToPrimero](https://github.com/OpenFn/primero-progres/blob/master/jobs/PROD/f1-1.sendReferralsToPrimero.js) job in the **production** project seems to be stopping before the `updateCase` operation runs. In this run [log](https://www.openfn.org/projects/primero-progres-v4-prod/runs/062a35c9-aa3a-728b-8962-f5dce6d18b2e), the last console.log statement is fr

[2022-06-12 17:27] aleksa-krolls commented on #52
@taylordowns2000 after my Slack DM is addressed, this is the next priority UNICEF issue to review. This error was thrown in prod environments, but during a prod test (so the data is test data). We need to confirm ASAP this is not an issue on our side, and whether there are any Progres/DTP error messages we need to share back with UNHCR.

[2022-06-12 21:00] taylordowns2000 commented on #52
Hey @daissatou2 , @aleksa-krolls , I'm digging it, and the concept of providing a log from when it's working as expected and another log when it's _not_ working is fantasic, but the two actual runs provided are apples and orange. The ["bad" one](https://www.openfn.org/projects/primero-progres-v4-prod/runs/062a35c9-aa3a-728b-8962-f5dce6d18b2e) is doing an update on an existing case. The ["good" one

[2022-06-13 07:30] taylordowns2000 commented on #52
@daissatou2 , @aleksa-krolls , [this PR](https://github.com/OpenFn/primero-progres/pull/53) seems to do the trick. My assessment of the issue is that everything worked as expected, and there's no change in behaviour from the Primero side, but that this particular adaptor version (`v2.3.4`) does not write the Primero response to the console after an update.

That's simply the behaviour of the adapt

[2022-06-13 09:28] #52 closed

[2022-08-17 06:28] aleksa-krolls commented on #46
@taylordowns2000 fyi - the client will be ready on Wednesday (Aug 24th) to implement this feature. Can you pls block time on your calendar accordingly to implement? Go-live will be the day after on the 25th.

cc @daissatou2

[2022-08-24 09:12] taylordowns2000 commented on #46
@aleksa-krolls , this is in your court for testing!

[2022-08-24 13:39] aleksa-krolls commented on #46
@taylordowns2000 tested and working! And documented in the Project Security Configuration Checklist. Thank you!

[2022-08-24 13:39] #46 closed

[2022-09-13 15:56] daissatou2 opened #54 "f2-2.sendReferralToDTP job update: if 0 referrals, do not send any HTTP requests"
## Describe the bug
The [f2-2.sendReferralToDTP.js](https://github.com/OpenFn/primero-progres/blob/master/jobs/PROD/f2-2.sendReferralToDTP.js) job is currently written to always send a GET request to the Primero `/users` endpoint... even if there are 0 referrals to send. If there are 0 referrals, we should take no further action and stop this job.
https://github.com/OpenFn/primero-progres/blob/fb5

[2022-09-13 16:04] daissatou2 commented on #54
@aleksa-krolls please confirm these are the correct staging credentials.

[2022-09-13 16:13] daissatou2 opened #55 "Update f2-2.sendReferralToDTP.js to output the full run log for errors received from DTP"
## Describe the bug

The run logs for [f2-2.sendReferralToDTP.js](https://github.com/OpenFn/primero-progres/blob/master/jobs/PROD/f2-2.sendReferralToDTP.js) are not printing out the full error message when the first GET request to the Primero `/users` endpoint fails.

When Primero threw a 500 error response, we found that the full error message is being truncated in the OpenFn run logs. [See L312

[2022-09-14 20:41] aleksa-krolls commented on #55
@daissatou2 it turns out this 500 error was actually thrown by Primero (not DTP) when we send this first GET request to the `/users` endpoint to query the caseworker's contact info. See related step:
https://github.com/OpenFn/primero-progres/blob/master/jobs/PROD/f2-2.sendReferralToDTP.js#L10-L24

In tests, we're unable to replicate the 500 error again. I added some initial logs to help with troub

[2022-09-14 21:05] aleksa-krolls commented on #55
@taylordowns2000 Immediate fix pushed to help with logging for enhanced troubleshooting, but can we please discuss this and whether its an adaptor issue?

[2022-10-12 05:54] aleksa-krolls commented on #55
@taylordowns2000 can you revisit this later this week or next so that we can determine whether to take action or close this issue? Thanks!

[2022-10-17 19:25] #54 closed

[2022-10-25 06:52] taylordowns2000 commented on #55
@aleksa-krolls , apologies for the delay here. The proper thing to do here would be to handle the response _before_ that error is thrown. The adaptor allows this, using an array of `transformResponse` functions. See implementation below and a [link to the job library](https://docs.openfn.org/library/jobs/auto/Catch-Error-in-HTTP-Request-2016-08-26).

[code]

[2022-10-31 13:40] #55 closed

[2022-11-18 20:06] aleksa-krolls opened #58 "f1-j2: Filter decisions by `service_implementing_agency === 'UNHCR'`"
## Describe the bug
Currently users are mistakenly filling in UNHCR fields on the the services subform when the referral is _not_ for UNHCR. This should not be happening (and Primero config updates will be made), but OpenFn should check the `service_implementing_agency` and `service_provider_name` to confirm the referral decision is real and intended for UNHCR (and not a data entry mistake).

## T

[2022-11-21 17:40] #58 closed